
/*.regist_buttion{background: #2BC19C  !important     ;border: 1px solid  #2BC19C  !important ; }*/

/*.mui-content{background: #FFFFFF !important;}*/
/*.login_ing{height: 40px;float: left;}*/

/*.login_img{text-align: center;line-height: 40px;width:15%;}*/
/*.login_input{width:60%;}*/
/*.login_input_s{border: 0px  !important;}*/

/*.login_yanzhengm{width: 25%;background: #2AC19C;text-align: center;line-height: 40px;color: #FFFFFF;}*/